<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Django</title>
</head>
<body>
    <h1>Meeting Planner Test App</h1>
    <p>
        Esta es la demo del curso de Django de <a href="https://www.pluralsight.com">Pluralsight</a>.
    </p>
    <p>Actualmente hay: {{num_meetings}} reuniones en la Base de Datos.</p>
</body>
</html>
    

