{% extends 'base.html' %}
{% block title %}Meetings OnlineApp{% endblock title %}
{% block content %}
        <section>
            <h3>Actualmente hay: {{num_meetings}} reuniones en la Base de Datos:</h3>
            <ul>
                {% for meeting in meetings %}
                    <li>
                        <!-- link hardcodeado 
                        <a href="/meetings/{{meeting.id}}"> {{meeting.title}} </a>
                        -->

                        <!-- link dinamico: (link building)
                        sintaxis url de django + nombre que le dimos al path en url.py para el mapping + segundo argumento, en este caso id
                        -->
                        <a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <br>
        <a href="{% url 'rooms' %}" class="strong">Listado de Salas de Reunión</a></strong>
{% endblock content %}
    

